html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.bgwhite {
    background-color: white;
}
.bggray {
    background-color: #dfdfdf;
}
.bgdarkgray {
    background-color: #525252;
}
.bgdarkergray {
    background-color: #191919;
}
.bgblack {
    background-color: #000000;
}
.bgnormalgray {
    background-color: #828282;
}
.bgmodal {
    background-color: #828282;
    border-radius: 4vh;
}
.txtblack {
    color: #000000 !important;
}
.txtwhite {
    color: #ffffff;
}
.thicc {
    height: 0.33vh !important;
    background: #000000 !important;
    opacity: 1 !important;
}
.thicctable {
    border-collapse: collapse;
}
.thicctable th, .thicctable tr, .thicctable td {
    border: 0.33vh solid black !important;
    padding: 0.5vh !important;
}
.othertable {
    border-collapse: collapse;
}
.othertable th, .othertable tr, .othertable td {
    border: 0.18vh solid black !important;
    padding: 0.5vh !important;
}
.textxl {
    font-size: 2.5vh !important;
}
.textabla {
    font-size: 1.6rem !important;
}

table {
    overflow-y: scroll hidden !important;
    overflow-x: scroll hidden !important;
}

.overflow-scrolla {
    max-height: 60vh; 
    overflow-x: auto; 
    overflow-y: auto; 
}