@{
    dynamic DashBoard = ViewBag.Dash;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Panel de Administración</title>
</head>
<body class="bgwhite">

    <br />
    <div class="row justify-content-center">
        <div class="col-lg-6 ">
            <div class="me-4 p-4 txtblack bggray">
                <h3 class="text-center my-1"><strong>DATOS GENERALES</strong></h3>
                <h3 class="my-3">Mesas disponibles:  @DashBoard.MesasD</h3>
                <h3 class="my-3">Mesas ocupadas: @DashBoard.MesasO </h3>
                <h3 class="my-3">N° de pedidos en proceso:  @DashBoard.PedA</h3>
                <h3 class="mt-3">N° de pedidos finalizados:  @DashBoard.PedC</h3>
                <hr class="thicc" />
                <h3 class="my-3">Ingresos totales en cuentas cerradas:  $@DashBoard.IngC</h3>
                <h3 class="mt-3">Ingresos totales de ventas en línea:  $@DashBoard.IngV</h3>
                <hr class="thicc" />
                <h3 class="my-3">Total de ingresos:  $@DashBoard.Tot</h3>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ms-4 p-4">
                <h3 class="text-center"><strong>REPORTES</strong></h3>
                  <!-- Boton Primer modal -- Ventas por Fecha -->
                <form asp-action="enviarFecha" method="get" class="form w-100">
                    <input type="submit" class="btn bgblack txtwhite w-100 py-3 rounded-pill my-3 textxl" value="Ventas por fecha" />
                </form>
                <!-- Boton Segundo modal -- Ventas por Mes -->
                <form asp-action="enviarMes" method="get" class="form w-100">
                    <input type="submit" class="btn bgblack txtwhite w-100 py-3 rounded-pill my-3 textxl" value="Ventas por mes" />
                </form>
                <!-- Boton Tercer modal -- Ventas en Linea -->
                <form asp-action="enviarLinea" method="get" class="form w-100">
                    <input type="submit" class="btn bgblack txtwhite w-100 py-3 rounded-pill my-3 textxl" value="Ventas en linea" />
                </form>
                
                <!-- Boton cuarto modal -- ventas mesero -->
                <form asp-action="enviarMesero" method="get" class="form w-100">
                    <input type="submit" class="btn bgblack txtwhite w-100 py-3 rounded-pill my-3 textxl" value="Ventas por Mesero" />
                </form>
            </div>
        </div>
    </div>
    <!-- Tabla -->
    <div class="my-2">
        <table class="thicctable table">
            <thead class="thicctable">
                <tr>
                    <th class=" txtblack text-center bggray"> <h3>N° Mesa</h3></th>
                    <th class=" txtblack text-center bggray"> <h3>N° cuenta en mesa</h3></th>
                    <th class=" txtblack text-center bggray"> <h3>Fecha de Creación</h3></th>
                    <th class=" txtblack text-center bggray"> <h3>Estado</h3></th>
                    <th class=" txtblack text-center bggray"> <h3>Ingresos por cuenta</h3></th>
                </tr>
            </thead>
            <tbody class="thicctable">
                <!-- Terminad de Rellenar cuando se tenga el contexto -->
            </tbody>
        </table>
    </div>
    <!-- Fin Tabla -->
     
</body>
</html>
