
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Panel de Administración</title>
</head>
<body class="bgwhite">

    <br />
    <div class="row justify-content-center">
        <div class="col-lg-6 ">
            <div class="me-4 p-4 txtblack bggray">
                <h3 class="text-center my-1"><strong>DATOS GENERALES</strong></h3>
                <h3 class="my-3">Mesas disponibles:  </h3>
                <h3 class="my-3">Mesas ocupadas:  </h3>
                <h3 class="my-3">N° de pedidos en proceso:  </h3>
                <h3 class="mt-3">N° de pedidos finalizados:  </h3>
                <hr class="thicc" />
                <h3 class="my-3">Ingresos totales en cuentas cerradas:  </h3>
                <h3 class="mt-3">Ingresos totales de ventas en línea:  </h3>
                <hr class="thicc" />
                <h3 class="my-3">Total de ingresos:  </h3>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ms-4 p-4">
                <h3 class="text-center"><strong>REPORTES</strong></h3>
                  <!-- Boton Primer modal -- Ventas por Fecha -->
                <form asp-action="enviarFecha" method="get" class="form w-100">
                    <input type="submit" class="btn bgblack txtwhite w-100 py-3 rounded-pill my-3 textxl" value="Ventas por fecha" />
                </form>
                <!-- Boton Segundo modal -- Ventas por Mes -->
                <form asp-action="enviarMes" method="get" class="form w-100">
                    <input type="submit" class="btn bgblack txtwhite w-100 py-3 rounded-pill my-3 textxl" value="Ventas por mes" />
                </form>
                <!-- Boton Tercer modal -- Ventas en Linea -->
                <form asp-action="enviarMes" method="get" class="form w-100">
                    <input type="submit" class="btn bgblack txtwhite w-100 py-3 rounded-pill my-3 textxl" value="Ventas en linea" />
                </form>
                <button type="button" class="btn bgblack txtwhite w-100 py-3 rounded-pill my-3" data-toggle="modal" data-target="#VentasLinea">
                    <h3 class="text-center">Ventas en linea</h3>
                </button
                <!-- Boton cuarto modal -- ventas mesero -->
                 <button type="button" class="btn bgblack txtwhite w-100 py-3 rounded-pill my-3" data-toggle="modal" data-target="#VentasMesero">
                    <h3 class="text-center">Ventas Mesero</h3>
                </button>
            </div>
        </div>
    </div>
    <!-- Tabla -->
    <div class="my-2">
        <table class="thicctable table">
            <thead class="thicctable">
                <tr>
                    <th class=" txtblack text-center bggray"> <h3>N° Mesa</h3></th>
                    <th class=" txtblack text-center bggray"> <h3>N° cuenta en mesa</h3></th>
                    <th class=" txtblack text-center bggray"> <h3>Fecha de Creación</h3></th>
                    <th class=" txtblack text-center bggray"> <h3>Estado</h3></th>
                    <th class=" txtblack text-center bggray"> <h3>Ingresos por cuenta</h3></th>
                </tr>
            </thead>
            <tbody class="thicctable">
                <!-- Terminad de Rellenar cuando se tenga el contexto -->
            </tbody>
        </table>
    </div>
    <!-- Fin Tabla -->

    <!-- Tercer modal -- Ventas en Linea -->
    <div class="modal fade" id="VentasLinea" tabindex="-1" role="dialog" aria-labelledby="VentasLinealLabel" aria-hidden="true">
        <div class="modal-xl modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content bgmodal ">

                <div class="modal-body justify-content-center">
                    <button type="button" class="close txtblack px-4 pt-4" data-dismiss="modal" aria-label="Close">
                        <h2 class="txtblack"><strong>X</strong></h2>
                    </button>
                    <br />
                    <br />
                    <h2 class="my-4 txtblack text-center">Ventas en Linea</h2>
                    <div class="d-flex justify-content-center ">
                        <form asp-action="formularioLinea" method="get" class="form w-100 mx-5 row justify-content-center">
                                <div class="col-md-6 align-content-center align-items-center text-center px-5">
                                    <h5 class="txtblack">Fecha inicio</h5>
                                    <input type="date" id="datepickerini" class="form-control txtwhite bgdarkgray py-4">
                                </div>
                                <div class="col-md-6 align-content-center align-items-center text-center px-5">
                                    <h5 class="txtblack">Fecha fin</h5>
                                    <input type="date" id="datepickerfin" class="form-control txtwhite bgdarkgray py-4">
                                </div>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary" style="background-color: white; color: black; border: 1px solid black;">Buscar</button>
                                </div>
                        </form>
                    </div>
                    <!-- Tabla -->
                    <div class="my-5 mx-5 h-75 overflow-auto">
                        <table class="othertable table">
                            <thead class="othertable">
                                <tr>
                                    <th class="bgdarkergray txtwhite text-center"> <h5>N° Cuenta</h5></th>
                                    <th class="bgdarkergray txtwhite text-center"> <h5>Fecha</h5></th>
                                    <th class="bgdarkergray txtwhite text-center"> <h5>Mesero</h5></th>
                                    <th class="bgdarkergray txtwhite text-center"> <h5>Ingresos</h5></th>
                                </tr>
                            </thead>
                            <tbody class="othertable">
                                <!-- Terminad de Rellenar cuando se tenga el contexto -->
                            </tbody>
                        </table>
                    </div>
                    <!-- Fin Tabla -->
                </div>

            </div>
        </div>
    </div>

    <!-- Fin Tercer modal -- Ventas en Linea -->


     <!-- Cuarto modal -- Ventas por Mesero -->
    <div class="modal fade" id="VentasMesero" tabindex="-1" role="dialog" aria-labelledby="VentasFechalLabel" aria-hidden="true">
        <div class="modal-xl modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content bgmodal ">
                
                <div class="modal-body justify-content-center">
                    <button type="button" class="close txtblack px-4 pt-4" data-dismiss="modal" aria-label="Close">
                        <h2 class="txtblack"><strong>X</strong></h2>
                    </button>
                    <br />
                    <br />
                    <h2 class="my-4 txtblack text-center">Ventas por Mesero</h2>
                    <div class="d-flex justify-content-center ">
                    <form action="/" method="get" class="form w-100 mx-5">
                        <div class="form w-50">
                            <div class="input-group mb-3">
                                <input type="text" id="nombre" name="nombre" class="form-control txtwhite bgdarkgray py-4 long-input" 
                                       placeholder="Ingrese nombre">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary" style="background-color: white; color: black; border: 1px solid black;">Buscar</button>
                                </div>
                            </div>
                        </div>
                     </form>
                  </div>
                    <!-- Tabla -->
                    <div class="my-5 mx-5 h-75 overflow-auto">
                        <table class="othertable table">
                            <thead class="othertable">
                                <tr>
                                    <th class="bgdarkergray txtwhite text-center"> <h5>Mesero</h5></th>
                                    <th class="bgdarkergray txtwhite text-center"> <h5>N° Cuenta</h5></th>
                                    <th class="bgdarkergray txtwhite text-center"> <h5>Fecha</h5></th>
                                    <th class="bgdarkergray txtwhite text-center"> <h5>Ingresos</h5></th>
                                </tr>
                            </thead>
                            <tbody class="othertable">
                                <!-- Terminad de Rellenar cuando se tenga el contexto -->
                            </tbody>
                        </table>
                    </div>
                    <!-- Fin Tabla -->
                </div>
               
            </div>
        </div>
    </div>
    <!-- Fin Cuarto modal -- Ventas por Mesero -->
     
</body>
</html>
